---
import Layout from '../layouts/Layout.astro';
import EventCard from '../components/EventCard.astro'
import { getCollection, getEntry } from 'astro:content';
const allEvents = await getCollection('events');


const { event } = Astro.params;
const { entry } = Astro.props;
---

<Layout>
  <main>
    <h1>Events</h1>
    <div class="container">
      {allEvents.map(eventsEntry => (
        <EventCard title={eventsEntry.data.title} date={eventsEntry.data.date} time={eventsEntry.data.time} summary={eventsEntry.data.summary} 
        image={eventsEntry.data.image} slug={'/bookstore-site/events/' + eventsEntry.slug}></EventCard>
      ))}
    </div>
  </main>
</Layout>

<style>
  /* .container {
    margin: 1rem;
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
  } */

  h1 {
    text-align: center;
    margin-top: 2rem;
  }

  .container {
    max-width: 1200px;
    margin-block: 2rem;
    margin-inline: auto;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 1250px) {
    .container {
      margin-inline: 2rem;
    }
  }

  @media (max-width: 850px) {
    .container {
      margin-inline: 1.5rem;
    }
  }

  @media (max-width: 700px) {
    .container {
      grid-template-columns: 1fr;
      margin: 1rem;
    }
  }

  @media (max-width: 340px) {
    .container {
      margin-inline: 5px;
    }
  }
</style>

<script>

</script>