---
import LinkButton from './LinkButton.astro'
import { Image } from 'astro:assets'
const {title, date, time, summary, image, slug} = Astro.props;
---

<section>
  <Image src={image} alt="" />
  <div class="content">
    <h2>{title}</h2>
    <p>{date}</p>
    <p>{time}</p>
    <p class="summary">{summary}</p>
    <LinkButton href={slug}>Details</LinkButton>
  </div>
</section>


<style>
  img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  section {
    place-self: center;
    outline: 1px solid black;
    display: flex;
    min-width: 300px;
    max-width: 600px;
    height: 400px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 20%);
  }

  .content {
    gap: 0.5rem;
    padding: 1rem 1rem 2rem 1rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .summary {
    margin-bottom: auto;
  }

  @media (max-width: 876px) {
    section {
      height: 450px;
    }
  }

  @media (max-width: 700px) {
    img,
    .content,
    section {
      width: 100%;
    }

    img {
      max-height: 400px;
    }

    section {
      flex-direction: column;
      height: auto;
      max-width: 100%;
    }
  }
</style>